html {
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  background-color: 	#FFFFDD;
  margin: 0;
}

.header {
  width: 100%;
}

.header__bg {
  background-image: url(../photo-1501785888041-af3ef285b470.jfif);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 68vh;
  position: relative;
  top: 0;
  left:0;
}

.mainContent__cat {
  border-bottom: 1px solid #000;
  padding-bottom: 150px;
}

.header__cat {
  background-color: rgba(255,255,255,.3);
  height: 100%;
}

.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-family: cursive;
}

.header__title h1 {
  background: linear-gradient(#e66465, #9198e5);
  color: #ACB6E5;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 10px 10px 15px rgba(0,0,0,.3);
}

.header__navi {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.header__navi__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  border: 1px solid #dddddd;
  background: #fff;
  padding-right: 10px;
}

.header__navi__item a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #770000;
  text-transform: uppercase;
}

.mainContent__title {
  text-align: center;
  font-size: 1.8rem;
  position: relative;
  text-shadow: 5px 5px 5px;
  font-family: monospace;
}
.mainContent__title h2::after {
  text-align: center;
  font-size: 1.8rem;
}

.mainContainer {
  width: 60%;
  margin: 100px auto 0;
}

.profile__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile__img {
  width: calc(50% - 40px);
}

.profile__img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.profile__intro {
  width: calc(50% - 40px);
  border: 1px solid #dddddd;
  background-color: #ffffff;
  
}
.profile__intro h3{
  text-align: center;
}
.profile__intro p{
  font-size: 1rem;
  line-height: 2.5;
  padding: 5px 15px;
}

.profile__intro a{
  text-decoration: none;
}

.sns__con {
  text-align: center;
}

.profile.mainContent__cat {
  margin: 30px 0 120px;
}

.fab.fa-twitter-square {
  color: skyblue;
  padding-right: 5px;
}

.fab.fa-instagram {
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  border-radius: 10px;
}

.skill__cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill__ability {
  width: calc(50% - 10px);
  text-align: center;
  background: #FFA07A;
  margin-bottom: 30px;
  height: 380px;
}

.skill__ability p {
  border: 1px solid #000;
  width: 80%;
  padding: 3px;
  margin: 0 auto;
  background: #B0E0E6;
}

.star {
  color: yellow;
  background: #FFC0CB !important;
}

.skill__contents {
  margin-bottom: 10px;
}

.header__side {
  position: fixed;
  left: 0;
  top: 30%;
  font-size: 15px;
}

.header__side label {
  display: block;
  width: 50px;
  height: 30px;
  text-align: center;
  background: rgba(168, 155, 155, 0.8);
  transition: all .5s;
  color: #fff;
}

.sidebar__list {
  list-style: none;
  transform: translateX(-500px);
  background: rgba(168, 155, 155, 0.8);
  margin: 0;
  transition: all .5s;
  padding: 10px;
}

.header__side input {
  display: none;
}

.header__side input:checked + label {
  width: 200px;
  text-align: right;
  padding-right: 20px;
}

.header__side input:checked ~ .sidebar__list {
  transform: translateX(0px)
}

.sidebar__item a {
  display: inline-block;
  color: #fff;
  width: 100%;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 8px;
}
